.container {
    width: 22%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .pizzaBlock {
    border-radius: 10px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #d1411e;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  
  .desc {
    text-align: center;
    color: #777;
  }
  .btnAdd {
    
   border: 0;
    color: #333;
    background-color: #fff;
    padding: 12px 10px;
    font-weight: bold;
    transition: color .4s ease;
    transition: background-color .4s ease;
    border-radius: 10px ;
    margin-left: 5px;
  }
  .btnAdd:active{
    transform: translateY(1px);
  }
  .btnAdd:disabled{
    cursor: not-allowed;
    pointer-events: all !important;
    color: silver;
    background-color: #fff;
  }
  .btnAdd:disabled:hover{
    background-color: #fff;
    color: silver;
  }
  .btnTpyesGroup {
    display: flex;
    justify-content: space-between;
  }
  .btnTpyesGroup>button{
    width: 200px;
  }
  .btnAdd:hover {
    background-color: orange;
    color: #fff;
  }
  .actBtn {
    background-color: rgb(255, 123, 0);
    color: #fff;
  }
  .btnSizeGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .btnSizeGroup>button{
    width: 100px;
  }
  .btnChooseGroup {
    width: 100%;
    background-color: rgb(235, 235, 235);
    padding: 20px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .btnGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btnAddtoCard {
    background-color: rgb(255, 123, 0);;
    color: #fff;
  }
  

  
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  
    .title {
      font-size: 30px;
    }
  
    .price,
    .desc {
      font-size: 24px;
    }
  }

  .PizzaImg {
    width:300px;
    height:300px;
    transition: all .4s ease;
  }
  .PizzaImg:hover {
    transform: translateY(-5px);
  }